<div class="container">
    <h1>Login</h1>
    <form (ngSubmit)="onSubmit()">
        <div>
            <label for="username">Username:</label>
            <input type="text" maxlength="20" id="username" name="username" [(ngModel)]="user.username" required autocomplete="username">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" maxlength="20" id="password" name="password" [(ngModel)]="user.password" required autocomplete="current-password">
        </div>
        <div>
            {{ reason !== '' ? "Error: " + reason : '' }}
        </div>
        <button type="submit" hidden>Login</button>
    </form>
</div>
